.bannerContainer {
  width: 90vw;
  margin-top: 2%;
  margin-bottom: 2%;
}

.linkBanner {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.fotoCategoria {
  width: 400px;
  border-radius: 2%;
}

.containerCat {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.margenCat {
  margin: 4.5%;
}

.titCat {
  display: flex;
  justify-content: center;
}
