.bannerContainer {
  width: 100%;
}

.linkBanner {
  display: flex;
  justify-content: center;
  margin: 3% 3% 3% 3%;
  position: relative;
}

.fotoCategoria {
  width: 400px;
  border-radius: 2%;
}

.containerCat {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.margenCat {
  margin: 4.5%;
}

.titCat {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #ead7c3;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}
