.Navbar {
  background-color: #ead7c3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  position: sticky;
  gap: 1%;
  width: 100%;
  height: 100px;
  box-shadow: 2px 5px 3px #8e827683;
  z-index: 200;
}

.caja-boton {
  margin-right: 200px;
}

.imagen {
  height: 120px;
}

.Boton {
  color: #000000;
}
a {
  text-decoration: none;
}

.formulario {
  margin-top: 20px;
}

.titulo-logeo {
  margin-top: 190px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: rgb(73, 64, 64);
  text-align: center;
  text-decoration: underline;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.titulo-registro {
  margin-top: 190px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: rgb(73, 64, 64);
  text-align: center;
  text-decoration: underline;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.enviar-datos {
  margin-top: -90px;
}

.caja-de-registro {
  background-color: #ead7c3;
  margin-left: 290px;
  margin-right: 360px;
  border-radius: 15px;
  margin-top: -150px;
  align-items: center;
  box-shadow: 2px 5px 3px #8e827683;
  box-sizing: 2px 5px 3px #8e827683;
}

.bienvenido {
  font-family: "Basis Grotesque Pro";
  margin-right: 320px;
}

.caja-de-logeo {
  background-color: #ead7c3;
  margin-right: 330px;
  border-radius: 15px;
  margin-top: -70px;
  margin-left: 320px;
  height: 255px;
  align-items: center;
  position: sticky;
  box-shadow: 2px 5px 3px #8e827683;
  box-sizing: 2px 5px 3px #8e827683;
}

.boton-ingreso {
  margin-left: 20px;
  margin-top: 20px;
}

.boton-registro {
  margin-top: -30px;
  margin-left: 450px;
}

.requisitos {
  margin-top: -80px;
  margin-left: 320px;
}

.h6-1 {
  margin-top: -20px;
}

.barrita-de-busqueda {
  border-radius: 10px;
  margin-left: 3%;
}

.vista-usuario {
  text-decoration: underline;
}
